@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@100;200;300;400;500;600;700;800;900&display=swap");
body{
  font-family: "Red Hat Display" !important;
}
h2{
  font-weight: 400;
font-size: 24px;
line-height: 32px;
}
:root {
  --primary: rgba(194, 42, 35, 1);
  --primary-numbers: 194, 42, 35;
  --secondary: #898989;
  --secondary-numbers: 137, 137, 137;
  --tertiary: #DEDEDE;
  --background: #fff;
}

.app-container  {
  padding-top: 100px;
}