@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Red Hat Display" !important;
}
h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}
/*landing page*/
#landing {
  /* background-color: black; */
}
#landing .block {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  align-items: center;
}
#landing .block:first-child {
  /* background-color: rgba(var(--primary-numbers), 0.4); */
}
#landing .block .left {
  width: 50%;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#landing .block .right {
  width: 50%;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#search-form {
  width: 80%;
  position: relative;
}
#search-form input[type="text"] {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  border: 1px solid var(--secondary);
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 5px;
}
#search-form input[type="submit"] {
  background-color: var(--primary);
  color: white;
  right: 0px;
  height: 50px;
  margin-top: 5px;
  border: none;
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 18px;
  font-weight: 600;
}
:root {
  --primary-l2: rgba(248, 203, 201, 1);
  --primary-l1: rgba(240, 151, 147, 1);
  --primary: rgba(194, 42, 35, 1);
  --primary-d1: rgba(155, 66, 62, 1);
  --primary-d2: rgba(78, 33, 31, 1);
  --primary-numbers-l2: 248, 203, 201;
  --primary-numbers-l1: 240, 151, 147;
  --primary-numbers: 194, 42, 35;
  --primary-numbers-d1: 155, 66, 62;
  --primary-numbers-d2: 78, 33, 31;
  --secondary-l2: rgba(238, 238, 238, 1);
  --secondary-l1: rgba(222, 222, 222, 1);
  --secondary: rgba(205, 205, 205, 1);
  --secondary-d1: rgba(137, 137, 137, 1);
  --secondary-d2: rgba(68, 68, 68, 1);
  --secondary-numbers-l2: 238, 238, 238;
  --secondary-numbers-l1: 222, 222, 222;
  --secondary-numbers: 205, 205, 205;
  --secondary-numbers-d1: 137, 137, 137;
  --secondary-numbers-d2: 68, 68, 68;
  --tertiary: #dedede;
  --background: #fff;
}

.app-container  {
  padding-top: 100px;
  position: relative;
}
