header{
    width: 100%;
    height: 56px;
    top: 0;
    left: 0;padding-right: 2.5%;
    position: fixed;display: block;padding-left: 2.5%;
}
#logo{
    height: 100%;display: inline-block;
    background-color: brown;width: 20%;
}
#logo img{
    height: 100%;width: 100%;
}
#search-bar{
    height: 100%;display: inline-block;
    background-color: #f1f1f1;width: 60%;
}
#search-input{
    height: 100%;width: 100%;
    border: none;
}
#search-button{
    height: 100%;width: 20%;
}
#menu{
    height: 100%;display: inline-block;
    background-color: blue;width: 80%;
}