header {
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  border-bottom: 1px solid #e4e5e7;
}
header .inner{
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 80%;
  left: 10%;
  padding: 20px 0px;
}
#logo {
	display: flex;
	gap: 8px;
	/* width: 20%; */
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 24px;
}

#logo img {
  height: 34px;
}

.give {
  /* margin-top: 0.7rem; */
  color: var(--primary);
  font-size: 1rem;
}

.auth-button {
  /* margin-top: 0.6rem; */
  border: none;
  outline: none;
  -moz-box-shadow: none;
  -goog-ms-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: var(--primary);
  font-size: 1rem;
  border-radius: 30px;
  font-weight: bold;
  background: #fff;
  height: 1.5rem;
  padding: 0rem 0.8rem;
}
.sign-up {
  background: rgba(var(--primary-numbers), 0.3);
}

.images-header-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-img {
  /* margin-top: 0.5rem; */
  height: 2rem;
}

#search-container {
  display: flex;
}

#search-bar {
  margin: 0.2rem 1rem 0.2rem 0px;
  display: flex;
  border-radius: 8px;
  width: 50%;
}

#search-input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  -moz-box-shadow: none;
  -goog-ms-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
  background-color: rgba(var(--primary-numbers), 0.3);
  /* border-left: 2px solid var(--primary); */
  border-top: 2px solid var(--primary);
  border-bottom: 2px solid var(--primary);
  color: var(--primary);
}

#search-input::placeholder {
  color: var(--primary);
  font-size: 1.1rem;
  font-weight: bold;
}

#search-button {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  height: 100%;
  background-color: rgba(var(--primary-numbers), 0.3);
  border: none;
  outline: none;
  -moz-box-shadow: none;
  -goog-ms-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-left: 2px solid var(--primary);
  border-top: 2px solid var(--primary);
  border-bottom: 2px solid var(--primary);
}

#speaker-button {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  height: 100%;
  -moz-box-shadow: none;
  -goog-ms-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: rgba(var(--primary-numbers), 0.3);
  border: none;
  outline: none;
  border-right: 2px solid var(--primary);
  border-top: 2px solid var(--primary);
  border-bottom: 2px solid var(--primary);
}
#menu {
  height: 100%;
  display: inline-block;
  /* background-color: blue; */
  width: 80%;
}
