.give {
  /* margin-top: 0.7rem; */
  color: var(--primary);
  font-size: 1rem;
}

.auth-button {
  /* margin-top: 0.6rem; */
  border: none;
  outline: none;
  -moz-box-shadow: none;
  -goog-ms-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: var(--primary);
  font-size: 1rem;
  border-radius: 30px;
  font-weight: bold;
  background: #fff;
  height: 1.5rem;
  padding: 0rem 0.8rem;
}
.sign-up {
  background: rgba(var(--primary-numbers), 0.3);
}

#speaker-button {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  height: 100%;
  -moz-box-shadow: none;
  -goog-ms-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: rgba(var(--primary-numbers), 0.3);
  border: none;
  outline: none;
  border-right: 2px solid var(--primary);
  border-top: 2px solid var(--primary);
  border-bottom: 2px solid var(--primary);
}
#menu {
  height: 100%;
  display: inline-block;
  /* background-color: blue; */
  width: 80%;
}
